body {
  background-color: #fbfeb2;
  color: #2f3640;
  margin: 0;
  padding: 0;
  font-family: "biorhyme-variable", sans-serif;
  font-variation-settings: "wdth" 100, "wght" 800;
}

p{
  font-family: "biorhyme-variable", sans-serif;
  font-variation-settings: "wdth" 100;
}



header img{
  display: block;
   margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  width: 20%;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 60px auto;
  text-align: center;
}

form {
  margin-bottom: 30px;
}

input {
  padding: 10px;
  width: 60%;
  border: 2px solid #74e0aa;
  border-radius: 10px;
  font-size: 16px;
  font-family: "biorhyme-variable", sans-serif;
font-variation-settings: "wdth" 100, "wght" 800;
box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #82ea19;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
   font-family: "biorhyme-variable", sans-serif;
  font-variation-settings: "wdth" 100;
}

button:hover {
  background-color: #80ff00;
}

.filter {
  margin-bottom: 30px;
}

select {
  padding: 10px;
  width: 60%;
  border: 2px solid #74e0aa;
  border-radius: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 20px;
  justify-items: center;
}

.villager-card {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  width: 140px;
  height: 200px;
}

.villager-card:hover {
  transform: translateY(-5px);
}

.villager-card img {
  width: 110px;
  height: 150px;
  border-radius: 50%;
}

#villager-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dbbf9e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  text-align: center;
  position: relative;
}

.modal-content img {
  width: 110px;
  height: 150px;
  border-radius: 50%;
}

.modal-content h2{
  margin-top: 10px;
  font-size: 22px;
  font-family: "biorhyme-variable", sans-serif;
  font-variation-settings: "wdth" 100;
}

.modal-content p{
  font-family: "biorhyme-variable", sans-serif;
  font-variation-settings: "wdth" 100;
}

.close-btn
{
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #272727;
}

.close-btn:hover {
  color: #fbfeb2;
}